body
{
    background-size: cover;
}

h1
{
   text-align: center;
    width: 100%;
    margin: 0px;
}

.heading
{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

span{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;}

canvas{
    background-color: rgb(147, 147, 145);
    border: 5px solid rgb(137, 135, 135);
    border-radius: 5%;
    padding: 4%;
    margin-left: 350;
}